*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px;
  min-height:100vh;
  background: radial-gradient(circle, #FFDAB9, #FFA500);
}
.wrapper{
  width:750px;
  padding:35px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.wrapper .content-box{
  padding:13px 20px 0;
  border-radius: 10px;
  border:1px solid #bfbfbf
}
.wrapper .input-field{
  padding:13px 20px 0;
  position: absolute;
  opacity:0;
  z-index:-99;
}
.content-box .content{
  margin-top:17px;
  padding: 12px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  border-top: 1px solid #bfbfbf;
}
.content-box .result-details{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width:calc(100% - 120px);
  
}
.result-details li{
  display:flex;
  height:20px;
  align-items: center;
  list-style: none;
}
.content button{
  width:100px;
  outline:none;
  border:none;
  color:#fff;
  background:orange;
  padding:8px 0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  transition:transfornm 0.3s ease;
}
.content button:active{
  transform: scale(0.95);
  background: #FFA500;
}
.typing-text p span{
  position:relative;
}
.typing-text p span.active{
  color:orange;
}

.typing-text p span.correct{
  color:green;
} 
.typing-text p span.incorrect{
  color:red;
  outline:1px solid #fff;
  background:#ffc0cb;
  border-radius: 4px;
}

::selection{
  color:#fff;
  background:orange;
}